*{
    margin: 0;
    padding: 0;
    background: rgb(18, 167, 226);
    font-family: cursive;
}

.cal{
    width: 60%;
    margin: 10px auto;
    text-align: center;
}
input{
    padding: 10px 20px ;
}
.entrada{
    background: white;
    border: none;
    color: black;
    outline: none;
    
}
.entrada:active{
    outline: none;
}
.multiplicar{
    background: rgb(5, 155, 5);
    color: white;
    padding: 10px 20px ;
    border: none;
    
}
.multiplicar:hover{
    background: rgb(64, 255, 47);
}
.tablas{
    display: grid;
    
    
}
h3{
    background: white;
    margin: 20px 0px;
    padding: 1px;
    box-shadow: 10px 10px 10px ;
    animation: anima 1s;
}
.tablas > div {
    background: rebeccapurple;
    padding: 5px;
    
    color: cyan;
}
.radioBtn{
    padding: 10px 20px;
}
.tablas{
    margin: 10px auto;
    box-shadow: 10px 10px 10px ;
    animation: anima 1s;
}

@keyframes anima {
    from {
        opacity: 0;
        box-shadow: none;
       

    }to{
        opacity: 1;
        
        box-shadow: 10px 10px 10px ;

    }

}